root
    // Palette
    //
    --TDT-PRIMARY: #09f
    --TDT-LINKS-COLOR: #4da6ff
    --TDT-LIGHT-TEXT-COLOR: #fff
    --TDT-DARK-TEXT-COLOR: #666
    --TDT-GRAY-TEXT-COLOR: #808080
    --TDT-DIVIDERS: #dedede
    
    // Fonts
    //
    --TDT-FONT_FAMILY: 'aktiv-grotesk', sans-serif
    --TDT-FONT_FAMILY_MONO: Menlo, Monaco, Consolas, 'Courier New', monospace
    
    --TDT-FONT_SIZE: 16px
    --TDT-FONT_SIZE_MONO: 14px
    
    --TDT-LINE_HEIGHT: 2rem
    
    
    // Colors
    //
    --TDT-COLOR_BACKGROUND: #fff
    --TDT-COLOR_TEXT: var(--TDT-DARK-TEXT-COLOR)
    --TDT-COLOR_TEXT_ASIDE: var(--TDT-GRAY-TEXT-COLOR)
    --TDT-COLOR_LINK: var(--TDT-LINKS-COLOR)
    
    --TDT-COLOR_MENU_DIVIDER: var(--TDT-BORDER)
    --TDT-COLOR_MENU_DIVIDER_FOCUS: #000
    --TDT-COLOR_MENU_LABEL: var(--TDT-GRAY-TEXT-COLOR)
    
    --TDT-COLOR_PANEL: #fff
    --TDT-COLOR_PANEL_DIVIDER: var(--TDT-BORDER)
    
    --TDT-COLOR_COMMENT_TAG: var(--TDT-PRIMARY)
    --TDT-COLOR_COMMENT_TAG_TEXT: var(--TDT-LIGHT-TEXT-COLOR)
    
    --TDT-COLOR_CODE_BACKGROUND: #fff
    
    --TDT-COLOR_TS: #9600ff
    --TDT-COLOR_TS_INTERFACE: #7da01f
    --TDT-COLOR_TS_ENUM: #f66604
    --TDT-COLOR_TS_CLASS: #4da6ff
    --TDT-COLOR_TS_PRIVATE: #808080
    
    --TDT-TS-BUTTON-border: var(--TDT-PRIMARY)
    --TDT-TS-BUTTON-BG: var(--TDT-PRIMARY)
    --TDT-TS-BUTTON-COLOR: var(--TDT-LIGHT-TEXT-COLOR)
    --TDT-TS-BUTTON-FLAT-COLOR: var(--TDT-GRAY-TEXT-COLOR)
    
    --TDT-TOOLBAR_COLOR: #222
    --TDT-TOOLBAR_TEXT_COLOR: #333
    --TDT-TOOLBAR_HEIGHT: 50px

